<div class="text-center">
  <h2>COMMENTS ONLY if loged </h2>

</div>

{{#each comments as |comment|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h4><a href="/edit/{{comment.id}}">{{comment.content}}</a></h4>
      <h4>{{comment.content}}</h4>
    </div>

  </div>
{{/each}}