<div class="col-auto">
  <h4>YOUR DASHBOARD, {{name}}!</h4>
</div>

{{#if posts.length}}





 
    {{#each posts as |post|}}
   
  



<div class="row justify-content-md-center">
    <div class="col col-lg-1">

    </div>
    <div class="col">
    <div class="alert alert-success" 
        <h5><a href="/edit/{{post.id}}">{{post.title}}</a></h5>
        
      </div>
          <P>{{post.content}}</P>
    </div>
    <div class="col col-lg-1">
  
    </div>


        {{#if logged_in}}
          <p>
            login for coment
          </p>

        {{/if}}

      </div>
    {{/each}}
  </div>
{{/if}}