<div class="col-auto">
  <h2> {{name}}! Edit new Post</h2>

</div>

<div class="col-md-6">
  <h3>Create a New Post:</h3>

  <form class="form new-project-form">
    <div class="form-group">
      title:
      <br />
      <input id="title" value="{{title}}" />
    </div>

    <div class="form-group">Content:<br />
      <label for="project-desc"></label>
      <textarea
        class="form-input"
        id="post-desc"
        name="project-desc"
      >{{content}}</textarea>
    </div>
    <div class="project-list">
      <button type="submit" class="btn btn-primary">laput</button>
      <button id="postid" type="sumit" value="{{id}}"></button>
    </div>
  </form>
</div>

<script src="/js/profile-edit.js"></script>