<div>
  {{! <h3> Edit Post</h3>

  <h3>Create a New Post:</h3> }}

  <form class="form new-project-form">
    <div class="form-group">
      title:
      <br />
      <input id="title" value="{{title}}" />
    </div>

    <div class="form-group">Content:<br />
      <label for="project-desc"></label>

      <textarea
        class="form-control"
        id="post-desc"
        rows="3"
      >{{content}}</textarea>
    </div>
    <div class="project-list">
      <button type="submit" class="btn btn-primary">Edit</button>

    </div>
    <div class="delete-post">
      <button
        class="btn btn-danger"
        id="postid"
        type="sumit"
        rows="3"
        value="{{id}}"
      >Delete</button>

    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>

    </div>
  </form>

</div>
<script src="/js/post-edit.js"></script>