<div class="col-auto">
  <h3> Edit Post</h3>

</div>

<div class="col-md-6">
  <h3>Create a New Post:</h3>

  <form class="form new-project-form">
    <div class="form-group">
      title:
      <br />
      <input id="title" value="{{title}}" />
    </div>

    <div class="form-group">Content:<br />
      <label for="project-desc"></label>
      <textarea
        class="form-input"
        id="post-desc"
        name="project-desc"
      >{{content}}</textarea>
    </div>
    <div class="project-list">
      <button type="submit" class="btn btn-primary">Edit</button>

    </div>
    <div class="delete-post">
      <button
        class="btn btn-danger"
        id="postid"
        type="sumit"
        value="{{id}}"
      >Delete</button>

    </div>

  </form>
</div>

<script src="/js/post-edit.js"></script>