<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>
{{!-- login form --}}
    <form class="form login-form">
      <div class="form-group">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>
{{!-- signup form --}}
    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Login</div>
  <div class="card-body">
    <h5 class="card-title">lernantino@gmail.com</h5>
    <p class="card-text">pasword12345</p>
  </div>
</div>

<script src="./js/login.js"></script>