<div class="col-auto">
  <h2> {{name}}! Create your new Post</h2>

</div>

<div class="col-md-6">
  <h3>Create a New Post:</h3>

  <form class="form new-project-form">
    <div class="form-group">
      <label for="project-name">Post Title:</label>
      <input
        class="form-input"
        type="text"
        id="project-name"
        name="project-name"
      />
    </div>

    <div class="form-group">
      <label for="project-desc">Content:</label>
      <textarea
        class="form-input"
        id="project-desc"
        name="project-desc"
      ></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Create</button>
    </div>
  </form>
</div>

<script src="./js/profile-new-post.js"></script>