<div class="col-auto">
  <h2> {{name}}! Create your new Post</h2>

</div>

<h3>Create a New Post:</h3>
<div class="row">
  <div class="col">

  </div>
  <div class="col-10">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">title</label>
        <input
          id="post-name"
          type="text"
          class="form-control"
          placeholder="Post tiltle"
        />
      </div>

      <div class="form-group">
        <label for="exampleFormControlTextarea1">Content</label>
        <textarea class="form-control" id="post-desc" rows="3"></textarea>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-primary new-project-form"
          >Create</button>
        </div>
      </div>
    </form>
  </div>
  <div class="col">

  </div>

</div>

{{! <form class="form new-project-form">
  <div class="form-group">
    <label for="project-name">Post Title:</label>
    <input
      class="form-input"
      type="text"
      id="project-name"
      name="project-name"
    />
  </div>

  <div class="form-group">
    <label for="project-desc">Content:</label>
    <textarea
      class="form-input"
      id="project-desc"
      name="project-desc"
    ></textarea>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Create</button>
  </div>
</form> }}

<script src="/js/new-post.js"></script>